@import '/src/styles.scss';

button {
    cursor: pointer;
    border: none;
    background-color: $green;
    color: $white;
    padding: 0.7rem 2.3rem;
    border-radius: 8px;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    
    &::after {
        content: "OPRET";
    }

    @media only screen and (max-width: $md) {
        padding: 0.4rem 0.7rem;
        font-size: 20px;

        &::after {
            content: "+";
        }
    }
}