@import '/src/styles.scss';

h1 {
    font-size: 26px;
    color: $darkBlue;
}

.table-header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}

.row-container {
    margin-bottom: 16px;
    display: flex;
    align-items: center;
    @media only screen and (max-width: $md) {
        justify-content: space-between;
        width: 100%;
    }
}

.item {
    margin-left: 20px;

    @media only screen and (max-width: $md) {
        margin-left: 0;
    }
}
