@import '/src/styles.scss';

h1 {
    font-size: 26px;
    color: $darkBlue;
}

.table-header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}

.row-container {
    display: flex;
    align-items: center;
}

.item {
    margin-left: 20px;
}