@import '/src/styles.scss';

:host {
    display: flex;
    height: 64px;
    background-color: $white;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}

p {
    margin: 0;
}

.logo-container {
    display: flex;
    align-items: center;
}

.title {
    margin: 0;
    font-size: 15px;
    margin-left: 15px;
    font-weight: bold;
}

.login-details-container {
    display: flex;
    border-left: 2px solid $gray;
    padding-left: 20px;
}

.column-container {
    display: flex;
    flex-direction: column;
}

.conexio-aps {
    font-size: 20px;
    font-weight: bold;
    color: $green;
}

.email {
    font-size: 10px;
    color: $darkBlue;
    text-align: end;
}

.arrow {
    margin: 0 15px;
    transform: rotate(180deg);
}